{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <title>
        {% block title %}
            FEEDIT Crawler Dashboard
        {% endblock %}
    </title>
    <link
        rel="stylesheet"
        href="{% static 'css/main.css' %}"
    >
    {% block extra_css %}
    {% endblock %}
</head>
<body>
    {% include "crawler/partial/nav.html" %}
    <main class="container">
        {% if messages %}
            <div class="toast-stack">
                {% for message in messages %}
                    <div class="toast {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>
    
    <script
        src="https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js"
    ></script>

    <script
        src="{% static 'js/main.js' %}"
    ></script>

    {% block extra_js %}
    {% endblock %}

</body>
</html>